.tarefas {
  margin-top: 30px;
  text-transform: capitalize;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 500ms;
}

.tarefas li:hover {
  background: rgba(146, 146, 146, 0.486);
}

.tarefas li .edit {
  margin-right: 15px;
  color: rgb(87, 87, 223);
}

.tarefas li .delete {
  margin-right: 15px;
  color: rgb(243, 22, 22);
}

.tarefas li:hover .edit,
.tarefas li:hover .delete {
  color: black;
}

.tarefas li .edit,
.tarefas li .delete {
  cursor: pointer;
  transition: all 500ms;
}

.tarefas li span {
  display: flex;
  align-items: center;
}
